<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>explore</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lora&family=Montserrat:wght@100;400;700&family=Oxygen:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="header__inner">
                <div class="header__escape">Escape.</div>
                <nav class="nav1">
                    <a class="nav1__link" href="#">HOME</a>
                    <a class="nav1__link" href="#">CATEGORIES</a>
                    <a class="nav1__link" href="#">ABOUT</a>
                    <a class="nav1__link" href="#">CONTACT</a>
                </nav>
            </div>
        </header>

        <div class="intro">
            <div class="intro_container">
                <h1 class="intro_container__title">Let's do it together.</h1>
                <h2 class="intro_container__subtitle">We travel the world in search of stories. Come along for the ride.
                </h2>
                <button class="intro_container__button">View Latest Posts</button>
            </div>

        </div>
        <div class="mainwrapper">
            <div class="nav2">
                <nav>
                    <a class="nav2__link1" href="#">Nature</a>
                    <a class="nav2__link2" href="#">Photography</a>
                    <a class="nav2__link3" href="#">Relaxation</a>
                    <a class="nav2__link4" href="#">Vacation</a>
                    <a class="nav2__link5" href="#">Travel</a>
                    <a class="nav2__link6" href="#">Adventure</a>
                </nav>
            </div>

            <div class="wrapper section">
                <div class="section">

                    <div class="section__title">
                        <h2>Featured Posts</h2>
                    </div>
                    
                    <div class="wrapper1 images">
                        {{ range .FeaturedPosts }}
                        <div class="images {{ .ImgModifier }}">
                            <div class="{{ .ButMod }}">{{ .But }}</div>
                            <h3 class="{{ .ImgModifier2 }}">{{ .Title }}</h3>
                            <div class="images__text">
                                <div>{{ .Subtitle }}</div>
                                <div class="images__info author">
                                    <div class="author__name"><img class="author__image" src="{{ .AuthorImg }}"
                                            alt="{{ .Author }}">{{ .Author }}</div>
                                    <div class="author__date">{{ .PublishDate }}</div>
                                </div>
                            </div>
                        </div>
                        {{ end }}

                    </div>
                    
                </div>

                <div class="section">


                    <div class="section__title">
                        <h2>Most Recent</h2>
                    </div>
                    <div class="wrapper2">
                        {{ range .RecentPosts }}
                        <div class="container1">
                            <div><img src="{{ .ImgMain }}" alt="incredible"></div>
                            <div class="container1__wrapper">
                                <h4 class="container1__title">{{ .Title }}</h4>

                                <div class="container1__text">{{ .Subtitle }}</div>
                            </div>
                            <div class="container1__info">
                                <img src="{{ .AuthorImg }}" alt="{{ .Author }}">
                                <div class="container1__name">{{ .Author }}</div>
                                <div class="container1__date {{ .AuthorMod }}">{{ .PublishDate }}</div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>



            </div>
        </div>



        <div class="footer">
            <div class="footer__reg reg">
                <div class="reg__title">Stay in Touch</div>
                <form class="reg__form">
                    <input class="form__email" placeholder="Enter your email address">
                    <button class="form__button">Submit</button>
                </form>
            </div>
            <div class="footer__inner">
                <div class="footer__escape">Escape.</div>
                <nav class="footer__nav nav">
                    <a class="nav__link" href="#">HOME</a>
                    <a class="nav__link" href="#">CATEGORIES</a>
                    <a class="nav__link" href="#">ABOUT</a>
                    <a class="nav__link" href="#">CONTACT</a>
                </nav>
            </div>
        </div>
    </div>
</body>


</html>